#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.welcome-conteiner {
  position: relative;
  width: 600px;  /* Ширината на контейнера */
  height: 600px; /* Височината на контейнера */
  overflow: hidden;
  background: url('/mountains.svg') no-repeat center center;
}

.jeep {
  position: absolute;
  bottom: 5%;
  left: 5%;
  height: 30%; /* Половината от височината на контейнера */
  width: auto;
  pointer-events: none;
  filter: drop-shadow(5px 5px 10px green);
  animation: offroad-move 3s ease-in-out infinite alternate;
}
@keyframes offroad-move {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  15% {
    transform: translate(20%, -10%) rotate(-3deg);
  }
  30% {
    transform: translate(40%, -5%) rotate(4deg);
  }
  45% {
    transform: translate(60%, -15%) rotate(-4deg);
  }
  60% {
    transform: translate(100%, -10%) rotate(3deg);
  }
  75% {
    transform: translate(150%, -15%) rotate(-5deg);
  }
  100% {
    transform: translate(200%, -20%) rotate(4deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
